* {
	font-family: "Arial";
}

body {
	margin: 0;
}

header {
	background-color: #f2cea5;
	padding: 10px 250px 10px 250px;
	display: flex;
}

.nav {
	margin: auto;
}

.nav-table td {
	font-size: 16pt;
	padding: 0 12px 0 12px;
}

.logo {
	margin: auto;
	width: 15%;
	height: 15%;

}

.auth > p {
	margin-top: 2px;
	text-align: center;
	color: black;
}

.auth input {
	margin-bottom: 5px;
}

.auth {
	margin: auto;
	display: flex;
	flex-flow: column;
}

#auth-form {
	margin: auto;
	display: flex;
	flex-flow: column;
}

.main-text {
	font-size: 64pt;
}

.schedule-text {
	font-size: 24pt;
}

main {
	padding: 240px 10px 240px 10px;
	background: url(images/bg.png) rgba(0, 0, 0, 0.5);
	background-size:cover;
  	background-blend-mode: multiply;
	color: white;
	text-align: center;
	overflow: hidden;
}

.main-text + .schedule-text {
	font-size: 24pt;
}

.schedule {
	background-color: rgba(70, 70, 70, 0.8);
	margin: auto;
	text-align: center;
	border: 2px solid white;
	border-collapse: collapse;
	font-size: 14pt;
}

.schedule th {
	background-color: rgba(242, 206, 165, 0.8);
	padding: 15px 0 15px 0;
}

.schedule td {
	padding: 12px 48px 12px 48px;
	border-bottom: 1px solid #ccc;
}

.subs-list {
	float: left;
	width: 30%;
	background-color: rgba(70, 70, 70, 0.8);
	text-align: left;
	border: 2px solid white;
}

.subs-list > ul > li {
	font-size: 24pt;
	list-style-type: square;
}

.subs-list > ul > li > a {
	color: white;
	text-decoration: none;
}

.subs-list > ul > li > a:hover {
	color: gray;
	text-decoration: underline;
}

.subs-description {
	float: right;
	width: 65%;
	background-color: rgba(70, 70, 70, 0.8);
	border: 2px solid white;
}

footer {
	color: white;
	margin: 0;
	padding-right: 25px;
	background-color: black;
}

footer > p {
	text-align: right;
	margin: 0;
	padding: 0;
}
