* {
    font-family: Arial;
}

body {
    background-color: black;
}

#header, #main-content, #description, #footer {
    width: 100%;
}

#header {
    background-color: #f2cea5;
    width: 70%;
    align-content: center;
    min-height: 20%;
    display: flex;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 1%;
}

#header .logo {
    width: 15%;
    height: 15%;
}

table.nav-table {
    text-align: center;
    width: 60%;
    font-size: 16pt;
    padding: 0 12px 0 12px;
}

.logo, .nav-table, #auth-form {
    margin: auto;
}

#auth-form {
    width: 15%;
    text-align: center;
}

#auth-form input{
    margin-top: 1%;
    margin-bottom: 1%;
}

#main-content {
    padding-top: 5%;
    padding-bottom: 5%;
}


#auth-form input[type='submit'] {
    min-width: 80%;
    margin-left: 3%;
    margin-top: 1%;
}

input#sign-up {
    margin-bottom: -2%;
}

#main-content, #content {
    min-height:700px;
    color: white;
    text-align: center;
    overflow: hidden;
    background: url(images/bg.png) rgba(0, 0, 0, 0.5);
    background-size:cover;
    background-blend-mode: multiply;
}

#content {
    padding-top: 1%;
    padding-bottom: 1%;
}

#main-content h1 {
    font-size: 64pt;
}

#main-content h2 {
    font-size: 24pt;
}

.schedule {
    background-color: rgba(70, 70, 70, 0.8);
    margin: auto;
    text-align: center;
    border: 2px solid white;
    border-collapse: collapse;
    font-size: 14pt;
}

.schedule th {
    background-color: rgba(242, 206, 165, 0.8);
    padding: 15px 0 15px 0;
}

.schedule td {
    padding: 12px 48px 12px 48px;
    border-bottom: 1px solid #ccc;
}

#description {
    background-color: black;
    min-height: 400px;
}

#description > .text {
    float: left;
    color: white;
    font-size: 24px;
    padding-top: 20px;
    padding-left: 10%;
}

#description > .photo {
    float: left;
    width: 30%;
    margin-top: 2%;
    margin-left: 10%;
}

#footer {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding-top: 1%;
    padding-right: 10px;
    color: white;
}

#menu a {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

#menu {
    background-color: rgba(70, 70, 70, 0.8);
    text-align: left;
    border: 2px solid white;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    color: white;
}

#menu h2 {
    text-align: center;
    line-height: 2;
    font-size: 32px;
}

.subs-description {
    float: left;
    text-align: center;
    color: white;
    background-color: rgba(70, 70, 70, 0.4);
    border: 2px solid white;
    width: 65%;
    min-height: 250px;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 1px;
}

.subs-description > ol, ul > li {
    text-align: left;
}

.subs-description > ol > li {
    list-style-type: upper-roman;
}

.subs-description > ul > li {
    list-style-type: circle;
}

.subs-description > .list {
    text-align: left;
    margin-left: 2%;
}

.social-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: -5rem;
    padding-left: 0;
}
.social-links > li {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
.social-links a {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    display: block;
    transition: background-color .3s ease-in-out;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .25rem;
}
.social-links a:hover {
    background-color: #ffffff;
}
.social-links a::before {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    left: .65rem;
    top: .65rem;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}
.social-links .icon-twitter::before {
    background-image: url("https://upload.wikimedia.org/wikipedia/ru/thumb/9/9f/Twitter_bird_logo_2012.svg/2522px-Twitter_bird_logo_2012.svg.png");
}
.social-links .icon-facebook::before {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1200px-Facebook_Logo_%282019%29.png");
}

.social-links .icon-instagram::before {
    background-image: url("https://cdn.worldvectorlogo.com/logos/instagram-2016-5.svg");
}

.social-links .icon-pinterest::before {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png");
}

.social-links .icon-ukr::before {
    background-image: url("https://cdn-icons-png.flaticon.com/512/197/197572.png");
}

.social-links .icon-eng::before {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/United-kingdom_flag_icon_round.svg/1024px-United-kingdom_flag_icon_round.svg.png");
}

.social-links .icon-rus::before {
    background-image: url("https://cdn.countryflags.com/thumbs/russia/flag-round-250.png");
}

#time-block {
    color: white;
    margin-bottom: 15px;
}

.clock24 {
    color: white;
}

#center-block {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    width: 60%;
    border: white 1px solid;
    margin-left: 20%;
}

#accordion > input {
    width: 300px;
    font-size: 20px;
    margin-top: 5px;
}

.additional-info {
    width: 500px;
    height: 50px;
}